.vscode
.DS_STORE
.env

# Python related
__pycache__
.ipynb_checkpoints

# Dataset files
datasets/**/*.csv
datasets/**/*.pickle

# Model files
models/**/*.h5
models/**/*.pickle

# Tensorboard logs
models/**/logs/**/*.*